
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <section class="container">
            <a href="/">
                <button class="btn btn-success">HOME</button>
            </a>

            <div class="card m-3 fw-bold shadow" style="max-width: 640px">
                <div class="row g-0">
                    <div class="col">

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">INFO</h5>
                            <p class="card-text">
                                Name:<span class="text-danger mx-3">Name </span>
                            </p>
                            <p class="card-text">
                                Email:<span class="text-danger mx-3">Email </span>
                            </p>
                            <p class="card-text">
                                Phone:<span class="text-danger mx-3">Phone</span>
                            </p>
                            <p class="card-text">
                                Topic:<span class="text-danger mx-3">Topic</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>